.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    box-shadow: 2px 18px 70px 0px #9D9D9D;
    overflow: hidden;
}

.login-text {
    width: 100vw;
    height: 75vh;
    background: linear-gradient(45deg, #A89AF9, #D7C3F4, #8571f7);
    background-size: 200% 100%;
    position: absolute;
    top: -50vh;
    box-sizing: border-box;
    padding: 6%;
    transition: all 0.5s ease-in-out;
    z-index: 11;
    animation: gradientMove 10s linear infinite alternate;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border: none;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.login-text.expand .text {
    opacity: 1;
    visibility: visible;
}

.text a, .text a:visited {
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.text hr {
    width: 50%;
    border: 0;
    border-top: 2px solid #fff;
    margin: 10px auto;
}

.text input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background: #3d3a4e;
    box-shadow: inset 1px 3px 6px rgba(0,0,0,0.1);
    transition: 300ms ease-in-out;
    color: white;
    display: block;
    margin: 0 auto;
}

.text input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px rgba(150, 93, 233, 1),
               -13px -13px 100px rgba(99, 88, 238, 1);
               color: black;
}

input[type="email"]::placeholder {
    color: #ffffffbb;
}

input[type="password"]::placeholder {
    color: #ffffffbb;
}

/* From Uiverse.io by Madflows */
.text .button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none
  }

  .text .button:hover::before {
    transform: scaleX(1);
  }

  .text .button-content {
    position: relative;
    z-index: 1;
    color: white;
    font-weight: bold;
  }

  .text .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }

  .text .button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(150, 93, 233, 0.5);
    transform: scale(1.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.cta {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    background-size: 200% 100%;
    border: 2px solid #fff;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 30px);
    color: #fff;
    outline: none;
    cursor: pointer;
    z-index: 11;
    animation: gradientMove 5s linear infinite alternate;
}

.call-text {
    background-color: #fff;
    width: 100%;
    height: 75vh;
    position: absolute;
    bottom: 0;
    padding: 10%;
    box-sizing: border-box;
    text-align: center;
    transition: transform 0.5s ease-in-out;

    h1 {
        font-size: 42px;
        margin-top: 10%;
        color: #696a86;

        span {
            color: #333;
            font-weight: bolder;
        }
    }

    button {
        height: 40px;
        width: 180px;
        border: none;
        border-radius: 20px;
        background: linear-gradient(
            82.3deg,
            rgba(150, 93, 233, 1),
            rgb(181, 146, 233),
            rgba(99, 88, 238, 1)
          );
        background-size: 300% 150%;
        color: #fff;
        font-weight: bolder;
        margin-top: 30px;
        cursor: pointer;
        outline: none;
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, border 0.3s ease-in-out;
        animation: gradientMove 4s linear infinite alternate;
    }

    @keyframes gradientMove {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 100% 0%;
        }
        100% {
            background-position: 0% 0%;
        }
    }

    button:hover {
        transform: scale(1.1);
    }

    button:focus {
        outline: none;
        box-shadow: 0 0 15px rgba(165, 88, 233, 0.6), 0 0 30px rgba(84, 88, 207, 0.4);
    }

}

.show-hide {
    display: block;
    position: relative;
    top: -75px;
    transition: all 0.5s ease-in-out;
}

.expand {
    top: 0;
    height: 50vh;
}

.form-control {
    margin-top: 20px;
    height: 40px;
    width: 100%;
    max-width: 300px;
    border-radius: 2px;
    border: 1px solid #ccc;
    background-color: #444;
    color: #fff;
    padding: 0 10px;
    box-sizing: border-box;
}

/*======================================================MEDIA QUERIES============================================*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .wrapper {
        height: 100vh;
        box-shadow: none;
        overflow: hidden;
    }

    .login-text {
        height: 60vh;
        top: -20vh;
        padding: 4%;
        width: 150vw;
        left: -25vw;
        border-bottom-left-radius: 75vw;
        border-bottom-right-radius: 75vw;
    }

    .login-text.expand {
        height: 90vh;
        top: 0;
        width: 150vw;
        left: -25vw;
        border-bottom-left-radius: 75vw;
        border-bottom-right-radius: 75vw;
    }

    .text {
        opacity: 0;
        visibility: hidden;
    }

    .login-text.expand .text {
        opacity: 1;
        visibility: visible;
    }

    .text input, .text button {
        max-width: 100%;
    }

    .text a {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        display: block;
    }

    .cta {
        width: 50px;
        height: 50px;
        bottom: -25px;
        left: calc(50% - 25px);
    }

    .call-text {
        padding: 5%;
    }

    .call-text h1 {
        font-size: 32px;
    }

    .form-control {
        max-width: 100%;
    }
}



@media (max-width: 768px) {
    .wrapper {
        height: 100vh;
        box-shadow: 2px 10px 40px 0px #9D9D9D;
        overflow: hidden;
    }

    .login-text {
        height: 65vh;
        top: -45vh;
        padding: 5%;
        width: 150vw;
        left: -25vw;
        border-bottom-left-radius: 75vw;
        border-bottom-right-radius: 75vw;
    }

    .login-text.expand {
        height: 90vh;
        top: 0;
        width: 150vw;
        left: -25vw;
        border-bottom-left-radius: 75vw;
        border-bottom-right-radius: 75vw;
    }

    .text {
        opacity: 0;
        visibility: hidden;
    }

    .login-text.expand .text {
        opacity: 1;
        visibility: visible;
    }

    .text input, .text button {
        max-width: 80%;
    }

    .text a {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        display: block;
    }

    .cta {
        width: 55px;
        height: 55px;
        bottom: -27px;
        left: calc(50% - 27px);
    }

    .call-text {
        padding: 7%;
    }

    .call-text h1 {
        font-size: 36px;
    }

    .form-control {
        max-width: 90%;
    }

    .text.show-hide {
        transform: translateY(150px);
    }
}

@media (max-width: 1300px) {
    .wrapper {
        height: 100vh;
        box-shadow: 2px 18px 70px 0px #9D9D9D;
        overflow: hidden;
    }

    .login-text {
        height: 75vh;
        top: -50vh;
        padding: 6%;
        width: 150vw;
        left: -25vw;
        border-bottom-left-radius: 75vw;
        border-bottom-right-radius: 75vw;
    }

    .login-text.expand {
        height: 90vh;
        top: 0;
        width: 150vw;
        left: -25vw;
        border-bottom-left-radius: 75vw;
        border-bottom-right-radius: 75vw;
    }

    .text {
        opacity: 0;
        visibility: hidden;
    }

    .login-text.expand .text {
        opacity: 1;
        visibility: visible;
    }

    .text input, .text button {
        max-width: 60%;
    }

    .cta {
        width: 60px;
        height: 60px;
        bottom: -30px;
        left: calc(50% - 30px);
    }

    .call-text {
        padding: 10%;
    }

    .call-text h1 {
        font-size: 42px;
    }

    .form-control {
        max-width: 300px;
    }

    .text.show-hide {
        transform: translateY(100px);
    }
}
